<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="rp3.marketforce"
    android:versionCode="75"
    android:versionName="1.5d">

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="19" />
    
    
    <permission
        android:name="com.vogella.android.locationapi.maps.permission.MAPS_RECEIVE"
        android:protectionLevel="signature" />

    <permission
        android:name="rp3.marketforce.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />
    <uses-permission android:name="rp3.marketforce.permission.C2D_MESSAGE" />


    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_SYNC_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS" />
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.CALL_PHONE"/>
    <uses-permission android:name="android.permission.READ_CONTACTS"/>
    <uses-permission android:name="android.permission.BLUETOOTH" />

    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />

    <uses-feature android:name="android.hardware.camera" android:required="false" />
    <uses-feature android:name="android.hardware.location" android:required="false" />
    <uses-feature android:name="android.hardware.location.gps" android:required="false" />
    <uses-feature android:name="android.hardware.location.network" android:required="false" />
    <uses-feature android:name="android.hardware.telephony" android:required="false" />
    <uses-feature android:name="android.hardware.microphone" android:required="false" />
    <uses-feature android:name="android.hardware.wifi" android:required="false" />
    <uses-feature android:name="android.hardware.camera.autofocus" android:required="false" />
    <uses-feature android:name="android.hardware.bluetooth" android:required="false" />
    <uses-feature android:name="android.hardware.bluetooth_le" android:required="false" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/MyAppTheme"
        android:largeHeap="true"
        android:name="android.support.multidex.MultiDexApplication"
        tools:replace="android:theme"
        
        >
        <meta-data android:name="com.google.android.gms.version"
           android:value="@integer/google_play_services_version" />
        
        <activity
            android:name="rp3.marketforce.SearchableActivity"
            android:label="@string/title_activity_searchable" 
            >
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>
        
        <activity
            android:name="rp3.marketforce.StartActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoTitleBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
               <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity
            android:name="rp3.marketforce.MainActivity"
            android:label="@string/app_name"
            android:configChanges="orientation">
            <!-- Only Required for search dialog -->
            <intent-filter>
                <action android:name="android.intent.action.SEARCH"/>
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <!-- enable the search dialog to send searches to SearchableActivity -->
            <meta-data
                android:name="android.app.default_searchable"
                android:value="rp3.marketforce.SearchableActivity" 
                />
            
        </activity>
         <activity
            android:name="rp3.marketforce.cliente.ClientDetailActivity"
            android:label="@string/app_name"
                        android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@style/MyAppTheme">
        </activity>
        <activity
            android:name="rp3.marketforce.ruta.RutasDetailActivity"
            android:label="@string/app_name"
            android:configChanges="orientation|keyboardHidden|screenSize"
            >
        </activity>
         <activity
            android:name="rp3.marketforce.cliente.ClienteEditActivity"
            android:label="@string/app_name"
            android:windowSoftInputMode="stateAlwaysHidden"
            android:configChanges="orientation|keyboardHidden|screenSize"
            >
        </activity>
        
         <activity android:name="rp3.accounts.AuthenticatorActivity" android:theme="@style/AppTheme.NoTitleBar"
            android:windowSoftInputMode="stateHidden">                        
        </activity>
        
          <activity android:name=".actividades.TextoActivity" android:theme="@style/ActivityPopupTheme"></activity><service android:name="rp3.accounts.AuthenticatorService" >
            <intent-filter>
                <action android:name="android.accounts.AccountAuthenticator" >
                </action>
            </intent-filter>

            <meta-data
                android:name="android.accounts.AccountAuthenticator"
                android:resource="@xml/authenticator" >
            </meta-data>
        </service>
        <service
                android:name="rp3.marketforce.sync.SyncService"
                android:exported="true"
                android:process=":sync">
            <intent-filter>
                <action android:name="android.content.SyncAdapter"/>
            </intent-filter>
            <meta-data android:name="android.content.SyncAdapter"
                    android:resource="@xml/syncadapter" />
        </service>

        <receiver
            android:name="com.google.android.gms.gcm.GcmReceiver"
            android:exported="true"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <category android:name="rp3.marketforce.content" />
            </intent-filter>
        </receiver>
        <service
            android:name="rp3.marketforce.content.GCMReceiver"
            android:exported="false" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <category android:name="rp3.marketforce.content" />
            </intent-filter>
        </service>
        <receiver
            android:name="rp3.marketforce.content.EnviarUbicacionReceiver"
            android:enabled="true" >
        </receiver>
        <receiver android:name="rp3.marketforce.content.TimeChangedReceiver">
            <intent-filter>
                <action android:name="android.intent.action.TIME_SET" />
            </intent-filter>
        </receiver>
        <provider
            android:name="rp3.content.StubProvider"
            android:authorities="rp3.marketforce.provider"
            android:exported="false"
            android:syncable="true" />
        
        <activity android:name=".actividades.CheckboxActivity"></activity>
        <activity android:name=".actividades.ActualizacionActivity"></activity>
        <activity android:name=".actividades.MultipleActivity" android:theme="@style/ActivityPopupTheme"></activity>
        <activity android:name=".actividades.SeleccionActivity"></activity>
        <activity android:name=".actividades.GrupoActivity"></activity>
        <activity android:name=".actividades.NumericoActivity" android:theme="@style/ActivityPopupTheme"></activity>
        <activity android:name=".ruta.ReprogramarActivity"></activity>
        <activity android:name=".ruta.CrearVisitaActivity"></activity>
        
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyC_7DHljEV8KjzrxpMnkwXDmsfeEjErLD0" />
        <activity android:name=".ruta.MapaActivity"></activity>
        <activity android:name=".cliente.CrearClienteActivity" android:configChanges="orientation|keyboardHidden|screenSize"></activity>
        <activity android:name="ServerActivity" android:theme="@style/AppTheme.NoTitleBar"></activity>
        <activity android:name=".ruta.ObservacionesActivity" android:theme="@style/MyAppPopupTheme"></activity>
        <activity android:name=".ruta.FotoActivity" android:theme="@style/MyAppPopupTheme"></activity>
        <activity android:name=".cliente.ImportContactsActivity"></activity>

        <!-- Modulo Oportunidades -->
        <activity android:name=".oportunidad.FiltroOportunidadActivity"></activity>
        <activity android:name=".oportunidad.EtapaTareasActivity"></activity>
        <activity android:name=".oportunidad.EtapaActivity"></activity>
        <activity android:name=".oportunidad.actividades.CheckboxActivity"></activity>
        <activity android:name=".oportunidad.actividades.MultipleActivity" android:theme="@style/ActivityPopupTheme"></activity>
        <activity android:name=".oportunidad.actividades.SeleccionActivity"></activity>
        <activity android:name=".oportunidad.actividades.GrupoActivity"></activity>
        <activity android:name=".oportunidad.actividades.TextoActivity" android:theme="@style/ActivityPopupTheme"></activity>
        <activity android:name=".oportunidad.actividades.NumericoActivity" android:theme="@style/ActivityPopupTheme"></activity>
        <activity android:name=".oportunidad.CrearOportunidadActivity" android:configChanges="orientation"></activity>
        <activity android:name=".oportunidad.FotoOportunidadActivity"></activity>
        <activity android:name=".oportunidad.CambiarEstadoActivity" android:theme="@style/MyAppPopupTheme"></activity>
        <activity android:name=".utils.MapActivity" android:theme="@style/AppDialogTheme"></activity>
        <!-- Modulo Marcaciones -->
        <activity android:name=".marcaciones.MarcacionActivity"
            android:configChanges="orientation|keyboardHidden|screenSize" >
            <category android:name="android.intent.category.LAUNCHER" />
        </activity>
        <activity android:name=".marcaciones.JustificacionPreviaActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"></activity>
        <activity android:name=".marcaciones.PermisoActivity"></activity>
        

        <!-- Modulo Pedidos -->
        <activity android:name=".pedido.CrearPedidoActivity" android:configChanges="orientation|keyboardHidden|screenSize"></activity>
        <activity android:name=".pedido.CategoriaActivity" android:configChanges="orientation|keyboardHidden|screenSize"></activity>
        <activity android:name=".pedido.ArqueoCajaActivity" android:configChanges="orientation|keyboardHidden|screenSize"></activity>
        <activity android:name=".pedido.ProductoListActivity" android:configChanges="orientation|keyboardHidden|screenSize">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH"/>
            </intent-filter>
            <!-- enable the search dialog to send searches to SearchableActivity -->
            <meta-data
                android:name="android.app.default_searchable"
                android:value="rp3.marketforce.SearchableActivity"
                />
        </activity>

        <!-- BERLIN -->
        <activity android:name=".cliente.EstadoCuentaActivity" android:configChanges="orientation|keyboardHidden|screenSize"></activity>
    </application>

</manifest>
