<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="rp3.marketforce"
    android:versionCode="2"
    android:versionName="1.1" >

    <uses-sdk
        android:minSdkVersion="13"
        android:targetSdkVersion="19" />
    
    <permission
        android:name="com.vogella.android.locationapi.maps.permission.MAPS_RECEIVE"
        android:protectionLevel="signature" />

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />
    
    
    	<uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_SYNC_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS" />
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.CALL_PHONE"/>
    

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/MyAppTheme"
        
        >
        <meta-data android:name="com.google.android.gms.version"
           android:value="@integer/google_play_services_version" />
        
        <activity
            android:name="rp3.marketforce.SearchableActivity"
            android:label="@string/title_activity_searchable" 
            >
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>
        
        <activity
            android:name="rp3.marketforce.StartActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoTitleBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
               <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity
            android:name="rp3.marketforce.MainActivity"
            android:label="@string/app_name">
            <!-- Only Required for search dialog -->
            <intent-filter>
                <action android:name="android.intent.action.SEARCH"/>
            </intent-filter>
            <!-- enable the search dialog to send searches to SearchableActivity -->
            <meta-data
                android:name="android.app.default_searchable"
                android:value="rp3.marketforce.SearchableActivity" 
                />
            
        </activity>
         <activity
            android:name="rp3.marketforce.cliente.ClientDetailActivity"
            android:label="@string/app_name"
                        android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@style/MyAppTheme">
        </activity>
        <activity
            android:name="rp3.marketforce.ruta.RutasDetailActivity"
            android:label="@string/app_name"
            android:configChanges="orientation|keyboardHidden|screenSize"
            >
        </activity>
         <activity
            android:name="rp3.marketforce.cliente.ClienteEditActivity"
            android:label="@string/app_name"
            android:windowSoftInputMode="stateAlwaysHidden"
            android:configChanges="orientation|keyboardHidden|screenSize"
            >
        </activity>
        
         <activity android:name="rp3.accounts.AuthenticatorActivity" android:theme="@style/AppTheme.NoTitleBar"
            android:windowSoftInputMode="stateHidden">                        
        </activity>
        
          <activity android:name=".actividades.TextoActivity" android:theme="@style/ActivityPopupTheme"></activity><service android:name="rp3.accounts.AuthenticatorService" >
            <intent-filter>
                <action android:name="android.accounts.AccountAuthenticator" >
                </action>
            </intent-filter>

            <meta-data
                android:name="android.accounts.AccountAuthenticator"
                android:resource="@xml/authenticator" >
            </meta-data>
        </service>
        <service
                android:name="rp3.marketforce.sync.SyncService"
                android:exported="true"
                android:process=":sync">
            <intent-filter>
                <action android:name="android.content.SyncAdapter"/>
            </intent-filter>
            <meta-data android:name="android.content.SyncAdapter"
                    android:resource="@xml/syncadapter" />
        </service>
        <receiver
            android:name="rp3.marketforce.content.EnviarUbicacionReceiver"
            android:enabled="true" >
        </receiver>
        <provider
            android:name="rp3.content.StubProvider"
            android:authorities="rp3.marketforce.provider"
            android:exported="false"
            android:syncable="true" />
        
        <activity android:name=".actividades.CheckboxActivity"></activity>
        <activity android:name=".actividades.MultipleActivity" android:theme="@style/ActivityPopupTheme"></activity>
        <activity android:name=".actividades.SeleccionActivity"></activity>
        <activity android:name=".actividades.GrupoActivity"></activity>
        <activity android:name=".ruta.ReprogramarActivity" android:theme="@style/AppDialogTheme"></activity>
        <activity android:name=".ruta.CrearVisitaActivity"></activity>
        
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyC_7DHljEV8KjzrxpMnkwXDmsfeEjErLD0" />
        <activity android:name=".ruta.MapaActivity"></activity>
        
    </application>

</manifest>
